<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<div>
  <div>This is the messager</div>
  <input id="chat_input" type="text" name="message" value="" placeholder="Start Chatting" />
  <div id="messages"></div>
</div>
